@model FacebookApp.Common.Dtos.UserPostDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid">


    <div class="col-lg-3">

        <div class="blog page-404 blog-content-1" style="margin-top:30px">
            <div class="blog-quote bordered blog-container">
                <div class="blog-quote-label bg-blue">

                </div>
                <div class="blog-quote-avatar">
                    <a href="javascript:;">
                        <img src="/@Model.userDto.Photo">
                    </a>
                </div>
                <div class="blog-quote-author">
                    <h3 class="blog-title blog-quote-title">
                        <a href="/Profile/Index/@Model.userDto.UserId/">@Model.userDto.Name @Model.userDto.LastName</a>
                    </h3>
                </div>
            </div>
        </div>


    </div>

    <div class="col-lg-6" style="background-color:#EEF1F5; margin-top:30px;">


        <div class="portlet light portlet-fit ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-paper-plane"></i>
                    <span class="caption-subject bold font-green uppercase">Gönderi</span>
                </div>

            </div>
            <div class="portlet-body">


                <div class="form-group" align="right">
                    <form id="postForm" enctype="multipart/form-data" action="/HomePage/NewPostForAjax" method="post">
                        <input type="hidden" id="UserId" name="UserId" value="@Model.userDto.UserId" />
                        <textarea id="PostText" name="PostText" style="width:587px;height:150px; resize:none" class="form-control" rows="3" placeholder="Ne düşüyorsun?..."></textarea>


                        <div class="fileinput fileinput-new" data-provides="fileinput" style="margin-top:20px; ">
                            <span class="btn green btn-file">
                                <span class="fileinput-new"> Dosya Yükle </span>
                                <span class="fileinput-exists"> Change </span>
                                <input type="hidden"><input type="file" name="pic">
                            </span>
                            <span class="fileinput-filename"> </span> &nbsp;
                            <a href="javascript:;" class="close fileinput-exists" data-dismiss="fileinput"> </a>
                        </div>

                        <button type="submit" class="btn blue">Paylaş</button>
                    </form>




                </div>
            </div>
        </div>



        <div class="portlet light portlet-fit" style="margin-top:8px">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-microphone font-green"></i>
                    <span class="caption-subject bold font-green uppercase"> Zaman Tüneli</span>

                </div>

            </div>
            <div class="portlet-body">
                <div class="timeline">
                    <!-- TIMELINE ITEM -->


                    @foreach (var item in Model.postList)
                    {

                        <div class="timeline-item">

                            <div class="timeline-badge">
                                <img class="timeline-badge-userpic" src="/@item.Photo">
                            </div>
                            <div class="timeline-body">

                                <div class="timeline-body-arrow"> </div>
                                <div class="timeline-body-head">

                                    <div class="timeline-body-head-caption">
                                        <a href="/Profile/Index/@item.UserId/"> <span class="timeline-body-title font-blue-madison">@item.Name @item.LastName</span></a>
                                        <span class="timeline-body-time font-grey-cascade">@item.CreateDate</span>
                                    </div>


                                </div>
                               
                                <div class="timeline-body-content">
                                    @if (item.PostImage != null)
                                    {
                                        <img src="~/images/PostImages/@item.PostImage" style="width:100%;height:100%;" />
                                    }

                                    <p style="margin-top:20px" class="font-grey-cascade">
                                        @item.PostText
                                    </p>

                                    <div class="col-md-4">


                                        <form id="likeForm" action="/HomePage/SetLike" method="post">
                                            <input type="hidden" name="postId" id="postId" value="@item.PostId" />

                                            @if (@item.isLike)
                                            {
                                                <button style='margin-left:12%; border:none; background-color:transparent; color:red' type="submit"><i class='fa fa-thumbs-up'></i> Beğen </button>

                                            }
                                            else
                                            {

                                                <button style='margin-left:12%; border:none; background-color:transparent; color:black' type="submit"><i class='fa fa-thumbs-o-up'></i> Beğen </button>

                                            }



                                        </form>
                                    </div>
                                    <div class="col-md-4">
                                        <button style='margin-left:12%; border:none; background-color:transparent; color:black' onclick="GetToComment(@item.PostId)"><i class='fa fa-comments'></i> Yorum Yap </button>
                                    </div>
                                    <div class="col-md-4">
                                        <button style='margin-left:12%; border:none; background-color:transparent; color:black' onclick="PostShared(@item.PostId)"><i class="fa fa-share"></i> Paylaş </button>
                                    </div>

                                    <br />
                                    <br />

                                    <ul id="dynamicContentComment"></ul>

                                   
                                        <div class="chat-form">
                                            <div class="input-cont">
                                                <textarea style="height:34px;" class="form-control" type="text" id="CommentText_@item.PostId" name="CommentText"></textarea>
                                            </div>
                                            <div class="btn-cont">
                                                <input class="hidden" id="PostId" name="PostId" value="@item.PostId"/>
                                                <span class="arrow"> </span>
                                                <button type="button" class="btn blue icn-only" onclick="AddComment(@item.PostId)">
                                                    <i class="fa fa-check icon-white"></i>
                                                </button>
                                            </div>
                                        </div>
                                  
                                </div>
                            </div>
                        </div>
                    }

                </div>

            </div>



        </div>

    </div>
    <div class="col-lg-3">

        <div class="portlet light bordered" style="margin-top:30px">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class=" icon-social-twitter font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">Arkadaşlık İstekleri</span>
                </div>

            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_actions_pending">
                        <!-- BEGIN: Actions -->
                        <div class="mt-actions">
                            <form id="requestFriendForm">
                                @foreach (var item in Model.userList)
                                {
                                    <div class="mt-action">
                                        <div class="mt-action-img">
                                            <img src="/@item.Photo" style="height:100%;width:100%">
                                        </div>
                                        <div class="mt-action-body">
                                            <div class="mt-action-row">
                                                <div class="mt-action-info ">

                                                    <div class="mt-action-details ">

                                                        <input type="hidden" id="ToUserId" name="ToUserId" value="@item.UserId" />
                                                        <input type="hidden" id="ToUserFriendId" name="ToUserFriendId" value="@item.UserId" />
                                                        <a href="/Profile/Index/@item.UserId/">   <span class="mt-action-author">@item.Name @item.LastName</span></a>

</div>
                                                </div>

                                                <div class="mt-action-buttons ">
                                                    <div class="btn-group btn-group-circle">
                                                        <button type="button" onclick="PostConfirmationFriend()" class="btn btn-outline green btn-sm">Onayla</button>
                                                        <button type="button" onclick="PostRejectionFriend()" class="btn btn-outline red btn-sm">Reddet</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </form>
                        </div>
                        <!-- END: Actions -->
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>

<script type="text/javascript">
    function NewPost(x) {
        var formData = $("#postForm").serialize();
        debugger;

        $.ajax({
            url: "/HomePage/NewPostForAjax",
            method: "POST",
            data: formData,
            success: function (response) {
                var $container = $("#ResponseContainer");

                debugger;


                if (response) {
                    //$container.html($("#SuccessTemplate").html())
                    //$("form")[0].reset();

                    location.href = "/HomePage/Index/" + x + "/";

                } else {
                    $container.html($("#ErrorTemplate").html())
                }
            }
        });
    }
</script>
<script type="text/javascript">
    function PostConfirmationFriend() {
        var formData = $("#requestFriendForm").serialize();
        debugger;

        $.ajax({
            url: "/HomePage/PostConfirmationFriendForAjax",
            method: "POST",
            data: formData,
            success: function (response) {
                var $container = $("#ResponseContainer");

                debugger;


                if (response) {
                    //$container.html($("#SuccessTemplate").html())
                    //$("form")[0].reset();
                    location.href = response;


                } else {
                    $container.html($("#ErrorTemplate").html())
                }
            }
        });
    }
</script>
<script type="text/javascript">
    rejection
    function PostRejectionFriend() {
        var formData = $("#requestFriendForm").serialize();
        debugger;

        $.ajax({
            url: "/HomePage/PostRejectionFriendForAjax",
            method: "POST",
            data: formData,
            success: function (response) {
                var $container = $("#ResponseContainer");

                debugger;


                if (response) {
                    //$container.html($("#SuccessTemplate").html())
                    //$("form")[0].reset();
                    location.href = response;


                } else {
                    $container.html($("#ErrorTemplate").html())
                }
            }
        });
    }
</script>


<script type="text/javascript">
    function PostShared(postId) {
        var userPostId = postId
        $.ajax({
            url: "/HomePage/PostSharedForAjax",
            data: { 'PostId': userPostId },
            method: "POST",
            success: function (response) {
                location.href = response;
                alert("Gönderi Paylaşıldı.");
            }
        });
    }
</script>


<script type="text/javascript">
    function GetToComment(postId) {
        var postIdData = postId;
        $.ajax({
            url: "/HomePage/GetComment",
            data: { 'PostId': postIdData },
            method: "POST",
            success: function (response) {
                $("#dynamicContentComment").html(response);
            }
        });
    }
</script>

<script type="text/javascript">
    function AddComment(postIdData) {
        var postId = postIdData;
        var commentText = $("#CommentText_" + postId).val();
       
        $.ajax({
            url: "/HomePage/AddCommentForAjax",
            data: { postId: postId, commentText: commentText },
            method: "POST",
            success: function (response) {
                
                $("#dynamicContentComment").html(response);
            }
        });
    }
</script>